


.body{
    margin: 40px;
    background-color: aqua;
}
/* .class{
    display: flex;
    justify-content: center;
     align-items: center;
}
     */
#img{
    width: 120px;
    height: 120px;
}
#btn{
display: inline-block;
justify-content: center;
}